html {
    font-size: 10px;
    color: #2c0509;
}
body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;
    background-image: url("../images/light-liu-N8P35ITqRZA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, p {
    color: white;
}
form {
    background-color: #192c04;
    background-color: rgba(25,44,4, .2);
    color: white;
    padding: 1em 1em;
    border-radius: 5px;
    box-shadow: 7px 3px 4px #2c0419;
    border: 2px outset  rgba(25,44,4, .5);
    width: 400px; 
}
fieldset {
    border: 0;
}
input, select, textarea {
    border: 2px inset #2c0419;
}
input, select, textarea, button{
    padding: .5em .3em;
    border-radius: 5px;
}
button {
    background-color: #04192c;
    color: white;
}
.form-name-element, .form-email-element, .form-number-element, .form-dropdown-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form-element {
    display: flex;
    margin-bottom: 1em;
    justify-content:space-between;
}
.form-radio-element {
    margin-bottom: 1em;
}
.form-checkbox-element {
    margin-bottom: 1em;
}
.form-textarea-element {
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}
#submit {
    flex-grow: 1;
}

