html { 
    background: url("https://i.ibb.co/8mzW3dH/wh-Tribute-Background1.jpg"), sandybrown;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
body {
    display: grid;
    grid-template-areas:
        "nav head"
        "nav content"
        "footer footer";
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: hsl(-128, 100%, 11%);
    background-color: rgba(135,135,135,.3);
}
header {
    display: none;
    width: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    border-right: 1px solid rgba(200,200,200,.5);
    background-color: rgba(100, 100,100, .4);
}
@media (min-width: 800px) {
    header {
        display: block;
    }
}
nav {
    padding: .5em 1em;
    grid-area: nav;
    margin-top: 6em;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav li {
    list-style: none;
    display: block;
    margin-right: 1.5em;
    margin-bottom: 2em;
}
a {
    text-decoration: none;
    color:hsl(172, 48%, 18%);
    font-size: 2em;
}
footer#tribute-link {
    color:hsl(172, 48%, 18%);
}
h1#title {
    grid-area: head;
    margin-left: 20%;
    padding: 1em;
    text-align: center;
    font-size: 2.5em;
}
div#img-div {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    padding: 1em;
    background: linear-gradient(135deg, rgba(46,49,49,.7), rgba(200,200,200,.1));
    border: 1px solid rgba(255,255,255, .05);
}
img#image {
    max-width: 100%;
    height: auto;
    align-self: center;
}
p#img-caption {
    margin-top: .5em;
    /* align-self: flex-end; */
    opacity: .7;
}
article#tribute-info {
    margin-left: 20%;
    padding: 1em;
    line-height: 2em;
}
footer {
    position: relative;
    grid-area: footer;
    text-align: center;
    background-color: white;
}
